<nav class="navbar bg-dark">
  <div>
    <%= image_tag("https://cybit.in/assets/images/logo.png", alt: "Logo", width: 40, class: "d-inline-block align-text-top ", style: "margin-left: 10px;") %>
    <%= link_to'Cybit Assignment', root_path, class: "navbar-brand mb-0 h1" %>
  </div>
</nav>